// Load our variables before anything else
// @import 'variables.scss'; // done in vue.config.js instead

// Load Bootstrap and Bootstrap-Vue
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// xs < 576px
// sm 577px - 767px
// md 768px - 991px
// lg 992px - 1199px
// xl 1200px+

body, td, th, input, textarea, select {
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  color: $brand-primary;
}

h1 {
  // font-size: 30px;
  margin-bottom: 17px;
}

h2 {
  margin-top: 0;
  // white-space: normal!important;
  // font-size: 18px;
}

.has-error {
  color: $shy-errors;
}

.help-block {
  margin-bottom: 0;
}

.apple-pay-button {
  height: 34px;
  width: 74px;
  cursor: pointer;
}

// 3D buttons
.btn-warning {
  background-image: linear-gradient(180deg,#f0ad4e 0,#eb9316);
  background-repeat: repeat-x;
  border-color: #e38d13;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(0,0,0,.075)!important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  background-color: #f0ad4e;
  color: #fff;
}

.btn-warning:hover {
  background-color: #eb9316;
  background-position: 0 -34px;
  border-color: #d58512;
  color: #fff;
  text-decoration: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

// .btn {
//   font-size: 14px;
//   line-height: 1.42857;
//   transition: none;
// }

@supports (-webkit-appearance: -apple-pay-button) { 
  .apple-pay-button {
    display: inline-block;
    -webkit-appearance: -apple-pay-button;
  }
  .apple-pay-button-black {
    -apple-pay-button-style: black;
  }
  .apple-pay-button-white {
    -apple-pay-button-style: white;
  }
  .apple-pay-button-white-with-line {
    -apple-pay-button-style: white-outline;
  }
}

@supports not (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button {
    display: inline-block;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 100px;
    min-height: 34px;
    max-height: 64px;
  }
  .apple-pay-button-black {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
  }
  .apple-pay-button-white {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
  }
  .apple-pay-button-white-with-line {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
    border: .5px solid black;
  } 
}